<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <base href="<%= publicPath %>">
    <title><%= title %></title>
    <link rel="icon" href="<%= publicPath %>favicon.ico">
  </head>
  <body>
    1
    <div id="app"></div>
    <script type="module" src="/demo/assets/@vite/client"></script>
    <script type="module" src="/demo/assets/main.ts"></script>
  </body>
</html>
